.no-pad{
	padding: 0!important;
}

.nice-select.select-ano{
	width: 60%;
	border-radius: 8px;
	color: #C42F59;
	font-weight: bold;
}

.imgs img{
	position: absolute;
}

.form-imputs{
	border-radius: 8px;
	margin-bottom: 10px;
	padding: 3px;
	height: 38px;
	border: 3px solid transparent;
	width: 60%;
}

input::placeholder{
	color: #C42F59;
	font-weight: bold;
	transition: linear 0.2s;
}

input:focus::placeholder{
	color: #999999;
	font-weight: bold;
}
